/* Custom CSS */
/* Variables */

@font-1: montserrat;


/* Header section */

.header {
	height: 580px;
	background-repeat: no-repeat;
	background-size: cover; 
	background-position: center;
	background-attachment: fixed;


	.header-inner {
	

		.header-body {
				text-align: center;
				margin: auto;
				margin-top: 115px;


			h2 {
				font-family: @font-1;
				font-size: 2em;
				font-weight: 400;
				color: #fff;
				padding-bottom: 30px;

			}

			p {
				font-family: @font-1;
				font-size: 12px;
				color: #b8b8bd;
				max-width: 490px;
				width: 100%;
				margin: 0 auto;
				line-height: 200%;
				padding-bottom: 50px;
			}

			a {
				font-family: @font-1;
				color: #fff;
				text-decoration: none;
				padding: 10px 30px;
				background-color: #fb6470;
				border-radius: 5px;


			}


		}
	}
}

/* Burgeris*/ 

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 20px;
    left: -40px;
    color: red;
    font-size: 36px;
    margin-left: 50px;
    z-index: 10;
}

#main {
    transition: margin-left .3s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* User section */
.user {
  
  position: relative;
  
  .user-info {
    position: absolute;
    left: 30px;
  }
  
  img {
    display: block;
    width: 100%;
  }
}